<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create posting</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>

title : <input type="text" id="input_title" />
content : <input type="text" id="input_content" />

<button onclick="create_posting();">등록</button>
<script>
    function create_posting(){
        $.ajax({
            //
            url: '/api/posting',
            method: 'POST',
            data : JSON.stringify({
                title : $("#input_title").val()
                , content : $("#input_content").val()
            }),
            contentType:"application/json",
            success: function (data, status, xhr) {
                alert("data :" + JSON.stringify(data));
            },
            error: function (data, status, err) {
                alert("error :" + JSON.stringify(data));
            },
            complete: function () {
            }
        });
    }
</script>

</body>
</html>