<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list posting</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
list
<input type="checkbox" id="input_deleted"/>
<div id="div_list"></div>
<button onclick="list_posting()">목록조회</button>

<script>
    $(function(){
        // 실행할 기능을 정의해주세요.
        //list_posting();
    });
    function list_posting(){
        $.ajax({
            //
            url: '/api/posting/list',
            method: 'GET',
            data : {
                deleted : $("#input_deleted").prop("checked")
            },
            contentType:"application/json",
            success: function (data, status, xhr) {
                $("#div_list").html("");
                //alert("data :" + JSON.stringify(data));
                let tempList = data;
                for(let each of tempList){
                    $("#div_list").append(
                      `<div onclick="location.href='/posting/detail/${each.id}';">${each.id} : ${each.title}</div>`
                    );
                }
            },
            error: function (data, status, err) {
                alert("error :" + JSON.stringify(data));
            },
            complete: function () {
            }
        });
    }
</script>
</body>
</html>