<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
Board list

<div id="div_list">
</div>

<button onclick="list_board()">목록 불러오기</button>

<script>
    function list_board(){
        $.ajax({
            url: '/api/board/list',
            method: 'GET',
            data : {},
            dataType : "json",
            contentType:"application/json",
            success: function (data, status, xhr) {
                alert("data :" + JSON.stringify(data));
            },
            error: function (data, status, err) {
                alert("error :" + JSON.stringify(data));
            },
            complete: function () {
            }
        });
    }
</script>
</body>
</html>