<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list user</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
list
<!--<input type="checkbox" id="input_deleted"/>-->
<br />
삭제 : <select id="input_deleted">
    <option value="">전체</option>
    <option value="false">일반</option>
    <option value="true">삭제</option>
</select>
제목 : <input id="input_title">

<div id="div_list"></div>
<button onclick="list_user()">목록조회</button>

<script>
    $(function(){
        // 실행할 기능을 정의해주세요.
        //list_user();
    });
    function list_user(){
        let deleted = $("#input_deleted").val() + "";
        if(deleted === ""){
            deleted = null;
        } else {
            deleted = (deleted === "true");
        }
        $.ajax({
            //
            url: '/api/user/list',
            method: 'GET',
            data : {
                deleted : deleted
                , title : $("#input_title").val()
            },
            contentType:"application/json",
            success: function (data, status, xhr) {
                $("#div_list").html("");
                //alert("data :" + JSON.stringify(data));
                let tempList = data;
                for(let each of tempList){
                    $("#div_list").append(
                      `<div onclick="location.href='/user/detail/${each.id}';">${each.id} : ${each.title}</div>`
                    );
                }
            },
            error: function (data, status, err) {
                alert("error :" + JSON.stringify(data));
            },
            complete: function () {
            }
        });
    }
</script>
</body>
</html>