<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login user</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>

username : <input class="input_param" type="text" id="input_username" name="username" /> <br/>
password : <input class="input_param" type="password" id="input_password" name="password" /> <br/>


<button onclick="login_user();">로그인</button>
<script>
    function login_user(){

        let obj_param = {};
        let input_param = $(".input_param");
        for(let each of input_param){
            obj_param[$(each).attr("name")] = $(each).val();
        }

        $.ajax({
            //
            url: '/api/user/login',
            method: 'POST',
            data : JSON.stringify(obj_param),
            contentType:"application/json",
            success: function (data, status, xhr) {
                alert("data :" + JSON.stringify(data));
            },
            error: function (data, status, err) {
                alert("error :" + JSON.stringify(data));
            },
            complete: function () {
            }
        });
    }
</script>

</body>
</html>