<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Writing Detail</title>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>

Detail!!
<div>
    id : <input type="text" id="input_id" /> <br/>
    title : <input type="text" id="input_title" /> <br/>
    content : <input type="text" id="input_content" /> <br/>
</div>

<button onclick="update_writing()">수정하기</button>
<button onclick="delete_writing()">삭제하기</button>
<!---->
<script>
    let tempHref = location.href; //현재 내가 접속한 주소값!
    //alert(tempHref); // http://localhost:8080/writing/detail/1

    let tempOrder = tempHref.lastIndexOf("/");
    let tempId = tempHref.substring(tempOrder + 1);
    //alert(tempId);

    let tempOrder2 = tempId.indexOf("?");
    if(tempOrder2 > -1){
        tempId = tempId.substring(0, tempOrder2);
    }
    //alert(tempId);
    /*let tempArray = tempHref.split("/");
    let tempId2 = tempArray[tempArray.length - 1];
    alert(tempId);*/

    $(function(){
        // 페이지가 모두 뜨자마자 실행해주세요!
        detail_writing();
    });

    function detail_writing(){
        $.ajax({
            url: '/api/writing',
            method: 'GET',
            data : {
                id : tempId
            },
            success: function (data, status, xhr) {
                alert("data :" + JSON.stringify(data));
                let writing = data["data"];
                let id = writing["id"];
                let title = writing["title"];
                let content = writing["content"];
                $("#input_id").val(id);
                $("#input_title").val(title);
                $("#input_content").val(content);
            },
            error: function (data, status, err) {
                alert("error :" + JSON.stringify(data));
            },
            complete: function () {
            }
        });
    }
    function update_writing(){
        $.ajax({
            url: '/api/writing',
            method: 'PUT',
            contentType:"application/json",
            data : JSON.stringify({
                id : $("#input_id").val()
                , title : $("#input_title").val()
                , content : $("#input_content").val()
            }),
            success: function (data, status, xhr) {
            },
            error: function (data, status, err) {
                alert("error :" + JSON.stringify(data));
            },
            complete: function () {
            }
        });
    }
    function delete_writing(){
        $.ajax({
            url: '/api/writing',
            method: 'DELETE',
            contentType:"application/json",
            data : JSON.stringify({
                id : $("#input_id").val()
            }),
            success: function (data, status, xhr) {
            },
            error: function (data, status, err) {
                alert("error :" + JSON.stringify(data));
            },
            complete: function () {
            }
        });
    }
</script>



</body>
</html>